<header class="l-header">
   
       
        <div class="l-header__item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LoginPaciente">Login</a>
   </div>
</header>