@{
    ViewData["Title"] = "Home Page";
            <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
}
<main>
<div class=" content ">
    <div class="column wallpaper container">
    <div class="box">
                <h1>Agendamento online</h1><br />
                <p>
                    Quem nunca passou por dificuldades ao tentar marcar uma consulta médica,<br>por falta de tempo ou demora
                    para agendar<br>com nosso sistema basta um click <br>e pronto já tem sua consulta marcada
                </p><br />
                 <div class="login-content">
                    <div class="input-box form">
                        <input for="submit" type="submit" id="enviar" name="senha" value="Agendamento" class="login-submit" required>
                    </div>
                </div>
            </div>
            </div>
            <div class="column">
                <h2>Como Funciona?</h2>
                <p>
                    Pois bem, primeiro deve fazer seu login/registro, após isso irá escolher qual especialidade de médico
                    deseja consulta, com isso deverá responder um formulário e aguardar sua consulta ser marcada.
                </p>
            </div>
            <div class="column">
                <h2>Precisando de ajuda?</h2>
                <p>Está com dúvidas ou problemas. Consulte nosso suporte e faremos o possível para ajudar.</p>
                <a class="button" href="https://www.google.com/intl/pt-BR/gmail/about/">Suporte</a>
            </div>
        </div>

</main>
   


