@model Pacientes 

@{
    ViewData["Title"] = "Cadastro Paciente";
    <link rel="stylesheet" href="~/css/formulario.css" asp-append-version="true" />
    Layout = null;
}

<body>
    <div class="wallpaper">
        <div class="box">

            <div class="header-login">
                <h2>Cadastro - Paciente</h2>
            </div>
            <form asp-controller="paciente" asp-action="PacienteCadastro" method="post" id="cadastro">
                <div class="input-box form">
                    <label for="Nome">Nome:</label><br>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <input asp-for="Nome" type="text" placeholder="digite o seu primeiro nome" id="Nome" required>
                </div>
                <div class="input-box form">
                    <label for="DataNascimento">Data de nascimento:</label><br>
                    <ion-icon name="calendar-outline"></ion-icon>
                    <input asp-for="DataNascimento" type="date" id="DataNascimento" required>
                </div>
                <div class="input-box form">
                    <label for="ConvenioID">Convênio:</label>
                    <select asp-for="ConvenioID" id="ConvenioID">
                        @await Component.InvokeAsync("ConvenioView")
                    </select>
                </div>
                <div class="input-box form">
                    <label for="Email">Email:</label><br>
                    <ion-icon name="mail-outline"></ion-icon>
                    <input asp-for="Email" type="email" id="Email" required>
                </div>
                <div class="input-box form">
                    <label for="Telefone">Telefone:</label><br>
                    <ion-icon name="call-outline"></ion-icon>
                    <input asp-for="Telefone" type="text" id="Telefone" placeholder="(99)99999-9999" required>
                </div>
                <div class="input-box form">
                    <label for="Senha">Senha:</label><br>
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input asp-for="Senha" type="password" id="Senha" required>
                </div>
                <div class="input-box form">
                    <label for="ConfirmarSenha">Confirmar senha:</label><br>
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" id="ConfirmarSenha" required>
                </div>
                <div class="login-content">
                    <div class="input-box form">
                        <input for="submit" type="submit" id="enviar" name="senha" value="Cadastrar" class="login-submit" required>
                    </div>
                </div>
                <div class="redirecionar">
                    <div class="redirecionar">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LoginPaciente">
                            Já possui uma conta? Realize o login
                        </a>
                    </div>
                    <div class="redirecionar">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            Volte para o início
                        </a>
                    </div>
                </div>
            </form>

        
    </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>