@{
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
}

<main>

    <div>
        <img src="~/assets/images/daniel.png" alt="" class="imagem">
        <h2>Daniel Fidel Bononi</h2>
        <div class="info-container texto cell">
            <p class="p">
                Olá me chamo Daniel tenho 19 anos e atuo no projeto principalmente na parte da programação,
                trabalhar nesse projeto foi muito bom, me trouxe muito aprendizado e <br>novas amizades, graças ao
                pessoal do grupo estou conhecendo muitas coisas novas e principalmente me divertindo. Eu escolhi
                o curso de DSM por influência familiar, <br>esta sendo uma ótima experiência.
            </p>
        </div>
    </div>


    <div>
        <img src="~/assets/images/jhulia.png" alt="" class="imagem">
        <h2>Jhulia Daniely Caetano Nogueira</h2>
        <div class="info-container texto cell">
            <p class="p">
                Me chamo Jhulia Daniely Caetano Nogueira nasci em 28 de abril de 2003, na cidade de Matão, quando
                começamos a desenvolver o aplicativo estava com 20 anos.
                <br>Comecei a me interessar na área de TI quando fiz o curso de Técnico em Informática na Etec Sylvio de
                Mattos Carvalho em 2021 <br>desde então soube que queria atuar nesta área. Entrei para fatec em
                Matão no ano de 2023 no curso de Desenvolvimento de Software Multiplataforma.
                Na montagem da prototipagem ajudo nas questões de códigos, design e relatórios.
            </p>
        </div>
    </div>
    <div>
        <img src="~/assets/images/lucas.png" alt="" class="imagem">
        <h2>Lucas Da Silva Cotrim</h2>
        <div class="info-container texto cell">
            <p class="p">
                Meu nome é Lucas da Silva Cotrim e tenho 20 anos. Atuei na programação em HTML e CSS do site,foi
                uma experiência prazerosa participar do desenvolvimento desse <br>projeto, conheci ótimas pessoas e
                aprendi muito sobre desenvolvimento de softwares, assim como também melhorei meu trabalho em
                equipe.
                <br>Escolhi esse curso por sempre gostar de desenvolvimento de softwares, meus amigos me
                recomendaram a FATEC - Matão <br>e posso dizer que estou satisfeito com o andamento do curso. Que venham
                os próximos semestres!
            </p>
        </div>
    </div>

</main>