@model Medico;
@{
    <link rel="stylesheet" href="~/css/editperfil.css" asp-append-version="true" />
    Layout = null;
}
<body>

    <main>
        <form asp-controller="Medico" asp-action="MedicoEdit" method="post" id="editar">
             <div class="boxMed">
            <section class="tab">
                <button class="tablinks">
                    <i class="fa-solid fa-user" onclick="openCity(event, 'edit-input')" style="color: black;"></i>
                </button>
            </section>
            <section class="tab">
                <button class="tablinks" onclick="openCity(event, 'output')">
                    <i class="fa-solid fa-right-to-bracket" style="color: black;"></i>
                </button>
            </section>
                <div id="edit-input" class="tabcontent" style="display: none;">
                    <div class="input-box form">
                    <label for="Nome">Nome:</label><br>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <input asp-for="Nome" type="text" placeholder="digite o seu primeiro nome" id="Nome" required>
                    </div>
                    <!--  -->
                    <div class="input-box form">
                    <label>Consultório:</label><br>
                    <ion-icon name="business-outline"></ion-icon>
                    <input asp-for="Consultorio" type="text" placeholder="Digite o Nome do seu consultorio" id="Consultorio" name="Consultorio" required>
                    </div>
                    <!--  -->
                    <div class="input-box form">
                        <label for="Name">Rua/Avenida:</label><br>
                        <input asp-for="RuaAvenida" type="text" placeholder="Digite o Nome da rua" id="RuaAvenida" name="RuaAvenida" required>
                        </div>
                    <!--  -->
                        <div class="input-box form">
                            <label for="Name">Nº:</label><br>
                            <input asp-for="Numero" type="text" placeholder="Digite o numero do endereco" id="Numero" name="Numero" required>
                            </div>
                        <!--  -->
                            <div class="input-box form">
                                <label for="Name">CEP:</label><br>
                                <input asp-for="CEP" type="text" placeholder="Digite o Cep" id="cep" name="cep" required>
                                </div>
                        <!--  -->
                              
                        <!--  -->
                    <label for="ConvenioID">Convênio:</label><br />
                    <select asp-for="ConvenioID" id="ConvenioID">
                        @await Component.InvokeAsync("ConvenioView")
                    </select><br />
                    <!--  -->
                    <label for="Email">Email:</label><br>
                    <ion-icon name="mail-outline"></ion-icon>
                    <input asp-for="Email" type="email" id="Email" required>
                    <!--  -->
                    <div class="login-content">
                        <div class="input-box form">
                            <input for="submit" type="submit" id="enviar" name="Editar" value="Editar" class="login-submit" required>
                        </div>
                    </div>
                </div>
                            <div id="output" class="tabcontent" style="display: none;">
                                <a asp-controller="Login" asp-action="Sair">
                                    <button class="output-button">Sair</button>
                                </a>

                            </div>

                            </div>
                           
        </form>
                <!--  -->
                
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />


    </main>
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>>